body {
    background-color:rgb(252, 254, 255);
    text-align: center;
}

.e {
    text-align: center;
}

.r a{
    text-decoration: none;
    color: rgb(245, 135, 214);
}

.w {
    text-align: left;
}